* {
  box-sizing: border-box;
}

div {
  color: rgb(249, 249, 246);
  background-color: rgb(61, 31, 170);
  text-align: center;
  border-radius: 99px;
  padding: 5px;
  max-width: 300px;
  margin: auto;
}
h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}
p {
  width: 50%;
  color: whitesmoke;
  font-size: 20px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid rgb(67, 67, 221);
  border-radius: 2px;
  padding: 10px;
  margin: auto;
}
body {
  background-color: darkblue;
  width: 100%;
}
h1 {
  color: white;
  text-align: center;
}


.btn {
  background-color: rgb(67, 67, 221);
  color: rgb(71, 16, 138);
  border-radius: 10px;
  border: 2px solid rgb(248, 248, 245);
  padding: 4px;
  text-align: justify;
  font-size: 6px;
  width: 300spx;
  margin: auto;
}